.vscode
.env

# ignore dict
/scripts/**/dict/**

# ignore ocr models
/services/paddleocr/ocr_models/**
/services/paddleocr/logs/**
/services/paddleocr/tmp/**

# ignore dict
/scripts/**/dict/**


# ignore python environment
**/venv/
**/__pycache__/

!.gitkeep