**/.vscode
**/.env

# ignore ocr models
/services/paddleocr/ocr_models/
/services/paddleocr/logs/
/services/paddleocr/tmp/
/services/api/dist/

# ignore dict
/scripts/**/dict/

# ignore node modules
**/node_modules/

# ignore python environment
**/venv/
**/__pycache__/

!.gitkeep