services:

  redisstack:
    container_name: redisstack
    build: 
      context: services/redis
      dockerfile: Dockerfile
    image: redisstack
    env_file:
      - services/redis/.env
    ports:
      - ${COMPOSE_REDIS_EXPOSE_PORT:-6379}:6379
    volumes:
      - redis_data:/data
    # restart: unless-stopped

  paddleocr:
    container_name: paddleocr
    build:
      context: services/paddleocr
      dockerfile: Dockerfile
    image: paddleocr
    env_file:
      - services/paddleocr/.env
    ports:
      - ${COMPOSE_PADDLEOCR_EXPOSE_PORT:-8866}:8866
    volumes:
      - paddleocr_logs:/app/logs
      - paddleocr_officialmodels:/home/paddleocr/.paddlex

  postgres:
    container_name: postgres
    build:
      context: services/postgres
      dockerfile: Dockerfile
    image: postgres
    env_file:
      - services/postgres/.env
    ports:
      - ${COMPOSE_PG_EXPOSE_PORT:-5432}:5432
    volumes:
      - postgres_data:/var/lib/postgresql

      # # <host path>:<container path>
      # # :/docker-entrypoint-initdb.d/init_user.sql  is like magic variable postgreSQL will init this
      # - ./data/init_user/init_user.sql:/docker-entrypoint-initdb.d/init_user.sql

volumes:
  postgres_data:
  redis_data:
  paddleocr_logs:
  paddleocr_officialmodels:
