services:

  redisstack:
    container_name: redisstack
    build: 
      context: services/redis
      dockerfile: Dockerfile
    image: redisstack
    env_file:
      - services/redis/.env
    ports:
      - ${COMPOSE_REDIS_EXPOSE_PORT:-6379}:6379
    volumes:
      - redis_data:/data
    # restart: unless-stopped

  paddleocr:
    container_name: paddleocr
    build:
      context: services/paddleocr
      dockerfile: Dockerfile
    image: paddleocr
    env_file:
      - services/paddleocr/.env
    ports:
      - ${COMPOSE_PADDLEOCR_EXPOSE_PORT:-8866}:8866
    volumes:
      - paddleocr_logs:/app/logs
      - paddleocr_officialmodels:/home/paddleocr/.paddlex

volumes:
  redis_data:
  paddleocr_logs:
  paddleocr_officialmodels:
