# API_JWT_SECRET="superdupersecretda"
# API_JWT_EXPIRATION="15m"     # 15 mins
# API_COOKIE_SECRET="weakrandomcookiesecretda"

FRONTEND_URL=""

OCR_URL=""
OCR_API_KEY=

REDISSTACK_URL="redis://"
REDISSTACK_USERNAME=""
REDISSTACK_PASSWORD=""

SUPABASE_URL=""
SUPABASE_SERVICE_KEY=""
SUPABASE_DBNAME="public"

AZURE_TRANSLATOR_URL=""
AZURE_TRANSLATOR_KEY=""
AZURE_TRANSLATOR_REGION=""

AZURE_SPEECH_TOKEN_URL=""
AZURE_SPEECH_KEY=""

AZURE_TTS_URL=""
AZURE_STT_URL=""